<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <add key="PickListFolderPath" value="C:\Medline\Empower_OpeRoom\work" />
    <add key="MasterPLFolderPath" value="C:\Medline\Empower_Master\work" />
    <add key="PickListAttachmentTemplate" value="海南病院_器械申し送り体内残存防止用紙template.xlsx" />
    <!-- 申送りシートヘッダ挿入用データ -->
    <add key="Moushiokuri_OpeDate_cell" value="AU1" />
    <add key="Moushiokuri_PatientID_cell" value="W3" />
    <add key="Moushiokuri_PatientName_cell" value="AN3" />
    <add key="Moushiokuri_ClinicalDept_cell" value="B5" />
    <add key="Moushiokuri_OpeMethodSetCode_cell" value="O5" />
    <add key="Moushiokuri_OpeMethodSetName_cell" value="U5" />
    <!-- 残存防止シートヘッダ挿入用データ -->
    <add key="Zanzonboushi_OpeDate_cell" value="AT1" />
    <add key="Zanzonboushi_PatientID_cell" value="W3" />
    <add key="Zanzonboushi_PatientName_cell" value="AN3" />
    <add key="Zanzonboushi_ClinicalDept_cell" value="B5" />
    <add key="Zanzonboushi_OpeMethodSetCode_cell" value="O5" />
    <add key="Zanzonboushi_OpeMethodSetName_cell" value="U5" />
    <!-- 残存防止ピッキングリスト取得用データ -->
    <add key="Zanzonboushi_PL1P_Count" value="20" />
    <add key="Zanzonboushi_PL1P_Step" value="5" />
    <add key="Zanzonboushi_PL1P_GoodsNameStart_cell" value="D14" />
    <add key="Zanzonboushi_PL1P_GoodsCnt2Start_cell" value="T14" />
    <add key="Zanzonboushi_PL1P_GoodsCntStart_cell" value="V14" />
    <add key="Zanzonboushi_PL1P_BpnCDStart_cell" value="AK18" />
    <add key="Zanzonboushi_PL2P_Count" value="27" />
    <add key="Zanzonboushi_PL2P_Step" value="5" />
    <add key="Zanzonboushi_PL2P_GoodsNameStart_cell" value="D5" />
    <add key="Zanzonboushi_PL2P_GoodsCnt2Start_cell" value="T5" />
    <add key="Zanzonboushi_PL2P_GoodsCntStart_cell" value="V5" />
    <add key="Zanzonboushi_PL2P_BpnCDStart_cell" value="AK9" />
    <!-- 残存防止シート物品挿入用データ（2段組み） -->
    <add key="Zanzonboushi_SheetColumn1Start_cell" value="B8" />
    <add key="Zanzonboushi_SheetColumn1_Count" value="40" />
    <add key="Zanzonboushi_SheetColumn2Start_cell" value="AB8" />
    <add key="Zanzonboushi_SheetColumn2_Count" value="22" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>